<html>
<head>
    <meta name="twitter:card" content="photo">
    <meta name="twitter:title" content="Kittenbomb">
    <meta name="twitter:image" content="http://kittenbomb.wonderduck.es">
  <title>Kitten</title>
</head>
  <body>
    <image src="http://25.media.tumblr.com/tumblr_m30s00NMK41qklvkao1_500.jpg" />
  </body>
</html>
